header {
  background-color: #555; }
  header .navbar-logo {
    width: 50px;
    border-radius: 50%; }
  header .nav-link.active {
    background-color: black !important; }
  header .nav-link:hover {
    background-color: black !important; }

footer {
  background: #123851;
  color: #eaeaea;
  padding: 3rem; }

.hoteles .section-hoteles {
  background-image: url("../../../assets/images/nubes.jpg");
  background-attachment: fixed;
  padding: 2rem; }
  .hoteles .section-hoteles .form-buscar-hotel {
    max-width: 768px;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 10px; }
    .hoteles .section-hoteles .form-buscar-hotel input {
      border: 2px solid transparent; }
      .hoteles .section-hoteles .form-buscar-hotel input:focus {
        border-color: #000000 !important;
        box-shadow: none; }

.hoteles .section-destinos-turisticos .card {
  margin: 2rem;
  text-overflow: ellipsis;
  overflow: hidden; }



ul {
  list-style: none; }

main.indexPage .section-contacto {
  padding: 2rem; }

main.indexPage .section-publicidad .publicidades {
  margin: 0 auto; }
  main.indexPage .section-publicidad .publicidades img {
    width: 100%; }

    @media only screen and (min-width:320px) and (max-width:480px){
      
      }